/* all css comment link start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

.container {
    width: 1140px;
    margin: 0 auto;
}

ul li {
    list-style-type: none;

}

h1 h2 h3 h4 h5 h6 p {
    line-height: 0.8;
}


/* all css comment link end  */






#headerPart {
    background: #FFF8F3;
    /* width: 100%; */
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    /* line-height: 100px; */
}

.logo img {
    padding-bottom: 135px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu ul li a {
    padding: 0px 35px;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #474747;

}

.btn a {
    padding: 18px 20px;
    background-color: #FD6E0A;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    transition: .4s;
}

.btn a:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A
}

#bannerPart {
    background: #FFF8F3;
}

.bannerLeft {
    width: 50%;
}

.bannerLeft h3 {
    font-weight: 600;
    font-size: 45px;
    color: #474747;

}

.bannerLeft h1 {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    padding: 5px 0px;
}

.bannerLeft p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    padding-bottom: 20px;
    width: 500px;
}

.bannerRight {
    position: relative;
}

.bannerBg img {
    position: absolute;
    bottom: -50%;
    right: 0%;
    /* height: 400px; */


}

.bannerMen img {
    position: absolute;
    bottom: -50%;
    right: 0;
    /* height: 510px; */
}

#developer {
    position: relative;
}

.devText h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 75px;
    font-weight: 700;
    color: rgba(24, 24, 24, 0.15);
    background: transparent;
    height: 100%;
    /* transform: rotate(180deg); */
}

.btnOne a {
    padding: 20px 17px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 30px;
    transition: .4s;
}

.btnOne a:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

.btnOne {
    padding: 30px 0px;
    padding-bottom: 185px;

}

.btnOne a i {
    margin-right: 10px;
}








/* header section part start  */

#aboutpart {
    background-color: #ffffff;
    padding: 130px 0;


}

.about {
    background-color: #FFF8F3;
    padding: 130px 160px;
    text-align: center;
    border-radius: 10px;

}

.about h2 {
    font-size: 35;
    font-weight: 700;
    color: #181818;
    padding-bottom: 30px;
}

.about p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    padding: 0 65px 30px;
}

.aboutitems {
    display: flex;
    justify-content: space-around;

}

.itemsabout {
    width: 20%;
    text-align: center;
}

.itemsabout h4 {
    font-size: 20px;
    font-weight: 400;
    color: #757575;

}

.itmesabout h3 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    text-transform: capitalize;

}

/* header section part end  */





/* skills section part start  */
#skillspart {
    background-color: #ffffff;
}

.skillstext {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 0;
}

.skillstext h2 {
    font-size: 35;
    font-weight: 700;
    color: #181818;
    padding-bottom: 30px;
}

.skillstext p {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    padding: 0 120px 50px;

}

.skillsitems {
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}

.itemskills {
    width: 20%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    transition: all linear .4s;

}

.itemskills:hover {
    transform: scale(1.1);
}


.itemskills img {
    width: 44px;
    padding-bottom: 30px;
}

.itemskills h4 {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 20px;
}


.itemskills p {
    font-size: 16;
    font-weight: 400;
    color: #757575;

}

/* skills section part end  */







/* resume section part start  */

#resumepart {
    background-color: #ffffff;
}

.resume {
    padding: 10px 0;
}

.resumetext {
    text-align: center;
}

.resumetext h2 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 110px;
}

.resumeitems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.itemsresum {
    width: 48%;
    margin: 20px 0;
    padding: 0 70px 0 60px;
}

.itemsresum h3 {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 30px;

}

.itemsresum h4 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 10px;
}

.itemsresum h5 {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    padding-bottom: 20px;

}

.itemsresum p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding: 0 0px 30px 0;
}

.undirline {
    width: 100%;
    height: 1px;
    background-color: #757575;

}


.resumbtn {
    width: 100% !important;
    text-align: center;
    padding-bottom: 110px;
}



.btnDownload a {
    color: #FFFFFF;
    padding: 18px 30px;
    background: #FD6E0A;
    border-radius: 5px;
    transition: .4s;
    font-weight: 700;
    font-size: 20px;
}

.btnDownload a i {
    margin-right: 10px;
}

.btnDownload {
    padding-top: 10px;
    padding-bottom: 100px;
    margin: 0 auto;

}

.btnDownload a:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;

}

/* resume section part end  */









/* footer section part start  */
#footerpart {
    background-color: #FFF8F3;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 140px 0 120px;

}

.footertext {
    width: 50%;
}

.footertext h3 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 20px;

}

.footertext p {
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    padding-bottom: 30px;
    text-transform: capitalize;
    line-height: 16px;
    padding-right: 150px;
}

.icon i {
    width: 40px;
    color: #FD6E0A;
    transition: all linear .4s;
}

.icon i:hover {
    transform: scale(1.1);
    border: 1 solid #FD6E0A;
}





.footerinput {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.footerinput h3 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    height: 65px;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.message {
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff;
    padding: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.btnEnd a {
    color: #FFFFFF;
    padding: 18px 30px;
    background: #FD6E0A;
    border-radius: 5px;
    transition: .4s;
    font-weight: 700;
    font-size: 20px;
}

.btnEnd {
    padding: 20px 0px;

}

.btnEnd a:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;

}

/* footer section part end  */








/* header section part start  */
/* header section part end  */